@media screen and ( min-width: 768px )
    .container
        padding: 80px 40px
    /*header*/
    .header
        position: relative
        &__container
            padding-top: 0
            padding-bottom: 0
    .burger-menu
        display: none
        &__button
            display: none
    .navbar
        display: flex
        &-item
            padding: 32px 24px
            &:focus
                background-color: $Purple
            &:hover
                background-color: $Purple
    /*hero-section*/
    .hero-section
        display: flex
        align-items: center
        &__container
            padding-bottom: 84px
        &__inner
            flex-direction: row
            align-items: center
            flex-wrap: nowrap
            width: calc( 100% + 40px)
            margin-left: -40px
        &__content-image
            margin-left: 0
            margin-bottom: 0
            height: 650px
            width: 50vw
        &__content-text
            width: 53.125vw
            transform: translateX(-86px)
            margin-right: -86px
            z-index: 10
        & .title
            @include Heading_56px
            margin-bottom: 32px
            & span
                @include Heading_56px_grey
    /*experience-section*/
    .experience-section
        &__content
            flex-direction: row
            &-block
                width: calc(( 100% - 48px ) / 3 )
                &:not(:last-child)
                    margin-right: 24px
            &-header
                & .title
                    @include Heading_55px
    /*philosophy-section*/
    .philosophy-section
        &__inner
            height: 600px
            flex-direction: row
        &__container
            height: 100%
            width: 50%
        &__content
            & .title
                @include Heading_55px_dark
            & .text
                max-height: 234px
            &-image
                height: 100%
                width: 50%
    /*skillset-section*/
    .skillset-section
        &__content-description
            & .title
                @include Heading_55px
                margin: 0 0 24px
            & .text
                margin-bottom: 48px
        &__content
            flex-direction: row
            flex-wrap: wrap
            grid-row-gap: 48px
            column-gap: 24px
        &__content-block
            width: calc(( 100% - 24px ) / 2 )
    /*projects-section*/
    .projects-section
        &__content-description
            & .title
                @include Heading_55px
        &__content-block
            & .content-image
                height: 620px
    /*instagram-section*/
    .instagram-section
        &__inner
            height: 600px
            flex-direction: row
            height: 100%
            width: 50%
        &__content
            & .title
                @include Heading_55px_dark
            & .text
                max-height: 234px
            &-image
                height: 100%
                width: 50%
    /*dribbble-section*/
    .dribbble-section
        &__content
            margin-bottom: 120px
    /*testimonials-section*/
    .testimonials-section
        &__inner
            display: grid
            grid-template-columns: repeat( 2, 1fr)
            grid-auto-flow: column
            grid-gap: 24px
        &__content-block:not(:last-child)
            margin-bottom: 64px
    /*photography-section*/
    .photography-section
        &__content-header
            & .title
                @include Heading_55px
        &__content
            & .button-wrapper
                display: flex
                flex-wrap: wrap
        &__content
            & .content-wrapper .tab-content
                grid-template-columns: repeat( 2, 1fr )
    /*start-section*/
    .start-section
        &__inner
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-auto-flow: row
            grid-gap: 24px
        &__content-header
            & .title
                @include Heading_55px
                margin-bottom: 24px
    /*footer*/
    .footer
        &__container
            padding-bottom: 56px
        &__content
            display: grid
            grid-template-columns: repeat( 2, 1fr )
            grid-auto-flow: row
            & .nav-wrapper
                display: grid
                grid-template-columns: repeat( 2, 1fr )
                grid-auto-flow: row

@media screen and ( min-width: 1440px )
    .container
        padding: 120px 72px
    /*header*/
    .header
        &__container
            padding-top: 0
            padding-bottom: 0
    /*hero-section*/
    .hero-section
        height: 90vh
        &__container
            padding-top: 0
            padding-bottom: 0
        &__inner
            width: calc( 100% + 72px)
            margin-left: -72px
        &__content-image
            height: 80vh
        &__content-text
            width: 51.25vw
    /*experience-section*/
    .experience-section

    /*philosophy-section*/
    .philosophy-section
        &__content
            & .text
                max-height: 215px
    /*skillset-section*/
    .skillset-section
        &__inner
            flex-direction: row
        &__content-description
            margin-right: 24px
            & .text
                margin-bottom: 0
    /*tabs-section*/
    .tabs-section
        &__inner
            display: flex
            flex-wrap: nowrap
            width: 100%
            overflow: hidden
        & .tab-item
            width: 340px
            flex-shrink: 0
    /*projects-section*/
    .projects-section
        &__container
            padding-bottom: 153px
        &__inner
            display: grid
            grid-template-columns: repeat( 2, 1fr)
            grid-template-rows: repeat ( 2, auto )
            grid-gap: 24px
        &__content-description
            grid-row-start: 1
            grid-row-end: 2
            grid-column-start: 1
            grid-column-end: 2
            margin: 0 56px 56px 0
            & .title
                margin-bottom: 0
        &__content
            grid-row-start: 2
            grid-row-end: 3
            grid-column-start: 1
            grid-column-end: 3
            flex-direction: row
            flex-wrap: wrap
            grid-gap: 24px
        &__content-block
            width: calc(( 100% - 24px ) / 2 )
            &:not(:last-child)
                margin-bottom: 0
            &:nth-child(even)
                margin-top: calc( -266px - -24px )
        &__button
            grid-row-start: 2
            grid-row-end: 3
            grid-column-start: 2
            grid-column-end: 3
            width: fit-content
            display: flex
            align-items: center
            align-self: end
            justify-content: center
            margin-left: auto
            margin-right: auto
            margin-bottom: 75px
            @include button_18px
            @include button_blank
            padding: 24px 32px
            cursor: pointer
    /*instagram-section*/
    .instagram-section
        &__content
            & .text
                max-height: 215px
    /*dribbble-section*/
    .dribbble-section
        &__inner
            max-width: 1076px
            margin: 0 auto
        &__content-image
            height: 676px
    /*testimonials-section*/
    .testimonials-section
        &__content-block:not(:last-child)
            margin-bottom: 120px
    /*photography-section*/
    .photography-section
        &__content-header
            margin-bottom: 64px
        &__content
            & .content-wrapper .tab-content
                grid-template-columns: repeat( 4, 1fr )
    /*start-section*/
    .start-section

    /*footer*/
    .footer
        &__container
            padding-top: 80px
            padding-bottom: 80px

@media screen and ( min-width: 1920px )
    .container
        max-width: 1920px
        margin: 0 auto
