*
    box-sizing: border-box
    font-family: Sen, sans-serif
    font-style: normal
    scroll-behavior: smooth
body
    background-color: $Black
    position: relative
a
    text-decoration: none
    color: inherit
.container
    padding: 48px 20px
    overflow: hidden
.logo
    &-image
        width: inherit
        height: inherit
    &:hover
        @include hover
    &:focus
        @include hover
.tag
    @include Overline_16px
    display: block
    margin-bottom: 8px
.form
    display: flex
    flex-direction: column
    & label
        @include Paragraph_16px
        margin-bottom: 8px
    & input
        height: 50px
        width: 100%
        background-color: $Dark
        border: none
        outline: none
        padding: 10px
        color: $White
    & textarea
        height: 100px
        width: 100%
        background-color: $Dark
        border: none
        outline: none
        padding: 10px
        color: $White
        resize: none
.button
    &:hover
        @include hover
    &:focus
        @include hover
.up-button  
    display: flex
    align-items: center
    justify-content: center
    position: fixed
    bottom: 25px
    right: 25px
    height: 50px
    width: 50px
    background-color: rgba(255, 255, 255, 0.3)
    transform: rotate(-90deg)
    @include Paragraph_16px
    z-index: 500