*
    box-sizing: border-box
    font-family: Sen, sans-serif
    font-style: normal
body
    background-color: $Black
    position: relative
a
    text-decoration: none
    color: inherit
.container
    padding: 0 20px
.logo
    &-image
        width: inherit
        height: inherit
.tag
    @include Overline_16px
    display: block
    margin-bottom: 8px