.skillset-section
    &__container
        padding-top: 64px
        padding-bottom: 64px
        display: flex
        flex-direction: column
        & .description
            display: flex
            flex-direction: column
        & .title
            @include Heading_32px
            margin: 14px 0 16px
        & .text
            @include Paragraph_18px_light-grey
            margin-bottom: 69px
    &__content
        display: flex
        flex-direction: column
        & .content
            &-block
                display: flex
                flex-direction: column
                &:not(:last-child)
                    margin-bottom: 48px
            &-image
                margin-bottom: 24px
            &-title
                @include Heading_24px
                margin: 0
                margin-bottom: 12px
            &-text
                @include Paragraph_16px_grey-light
                margin: 0
